.Products_container {
  background-color: white;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 10%;
  padding-right: 10%;
}
.products_heading {
  font-size: 36px;
  font-weight: 600;
  color: #1a181e;
  margin-bottom: 50;
  font-family: "GG semiBold";
}
.cards_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
  justify-content: space-between;
}
.card_container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 32px;
}
.card_logo {
  width: 320px;
  height: 180px;
}
.card_title {
  color: #1a181e;
  font-size: 20px;
  margin-top: 16px;
  font-family: "GG Medium";
}
.card_content {
  color: #4d4d4d;
  font-size: 16px;
  margin-top: 4px;
  font-family: "GG Regular";
}
