.main_container {
  background-color: #fff;
  width: 80%;
  margin: auto;
  margin-bottom: 80px;
  border-radius: 8px;
  padding-top: 64px;
  padding-bottom: 64px;
  margin-top: -200px;
  box-shadow: 0 2px 8px 0 rgba(26, 24, 30, 0.06);
}
.sub_container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.line {
  height: 1px;
  background-color: #d9d9d9;
}
.line2 {
  height: 1px;
  background-color: #d9d9d9;
  margin-top: 48px;
}
.heading {
  font-size: 36px;
  color: #000;
  font-weight: 600;
}
.text {
  font-size: 20px;
  color: #4d4d4d;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 46px;
  width: 80%;
}
.text2 {
  color: #4d4d4d;
  font-size: 16px;
}
.searchBox {
  height: 48px;
  width: 352px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 18px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 48px;
}
.searchText {
  color: #1a181e;
  font-size: 16px;
  font-weight: 400;
}
.generateButton {
  height: 50px;
  width: 204px;
  background-color: #146eb4;
  border: none;
  color: #fff;
  font-size: 18px;
  border-radius: 4px;
  margin-bottom: 48px;
}
.downloadButton {
  height: 50px;
  width: 204px;
  background-color: #fff;
  border: 2px solid #146eb4;
  color: #146eb4;
  font-size: 18px;
  border-radius: 4px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 52px;
  align-items: center;
  margin-bottom: 20px;
}
.generatedText {
  font-size: 20px;
  font-weight: 400;
  color: #1a181e;
}
.card_container {
  height: 60px;
  width: 352px;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  display: flex;
  margin-top: 20px;
}
.data_text {
  font-size: 16px;
  font-weight: 400;
  color: #1a181e;
}
.cards_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
}
.next_text {
  color: #146eb4;
  margin-right: 6px;
}
.number {
  margin-right: 24px;
  color: #146eb4;
}
.active_number {
  margin-right: 24px;
  color: #fff;
  background-color: #146eb4;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.pagination_row {
  display: flex;
  flex-direction: row;
}
.copy_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: -120px;
  margin-top: 120px;
}
.copy_text {
  background-color: #4d4d4d;
  color: #fff;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
}
